<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_object">Structure <code>Object</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;GeoSpatial.Object</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong>RTT Field</strong>: <a href="#F1">typeObject</a><br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines the base Object comprising id, optional name, description, and user data (JSON).<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.Object</div>
<p><a href="#F1">typeObject</a>, <a href="#F2">uuid</a>, <a href="#F3">uriExternal</a>, <a href="#F4">uriClassifier</a>, <a href="#F5">name</a>, <a href="#F6">description</a>, <a href="#F7">miscdata</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">typeObject (required) : <a href="GeoSpatial_ObjectType.html">ObjectType</a> </dt>
<dd>
<p>Element indicates the type of the Object<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">uuid (required) : <a href="Tensor_UUID.html">UUID</a> </dt>
<dd>
<p>Unique identifier for this object.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">uriExternal (optional) : <a href="Tensor_uri.html">uri</a> </dt>
<dd>
<p>Optional external identifier for this object.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">uriClassifier (optional) : <a href="Tensor_uri.html">uri</a> </dt>
<dd>
<p>Optional external classifier identifier for this object.<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">name (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional user friendly name of the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F6" class="dlist">
<dl>
<dt class="hdlist1">description (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional user friendly description of the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F7" class="dlist">
<dl>
<dt class="hdlist1">miscdata (optional) : <a href="Tensor_json.html">json</a> </dt>
<dd>
<p>Optional miscellaneous JSON data associated with this object. This field is
        provided to add additional non-typed data to the object, which can be application specific.
        Should multiple applications share this data, then likely an updated XID definition would be more
        appropriate.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>
<a href="GeoSpatial_Location.html">Location</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>