<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_addressinfo">Structure <code>AddressInfo</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;GeoSpatial.AddressInfo</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>&#160;</p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.AddressInfo</div>
<p><a href="#F1">address1</a>, <a href="#F2">address2</a>, <a href="#F3">address3</a>, <a href="#F4">city</a>, <a href="#F5">county</a>, <a href="#F6">state</a>, <a href="#F7">country</a>, <a href="#F8">countryCode</a>, <a href="#F9">postal</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">address1 (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Address line #1 comprising house number and street name.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">address2 (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Address line #2 comprising group level.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">address3 (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Address line #3 comprising village level.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">city (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Name of City or Township level.<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">county (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Name of the County or Prefectural level.<br></p>
</dd>
</dl>
</div>
<div id="F6" class="dlist">
<dl>
<dt class="hdlist1">state (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>State or region or Provincial level. Two character state definitions ok for U.S. addresses. Default is empty.<br></p>
</dd>
</dl>
</div>
<div id="F7" class="dlist">
<dl>
<dt class="hdlist1">country (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>The country name in long form.<br></p>
</dd>
</dl>
</div>
<div id="F8" class="dlist">
<dl>
<dt class="hdlist1">countryCode (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>The ISO 3166-1 three character country code. For example, "USA".<br></p>
</dd>
</dl>
</div>
<div id="F9" class="dlist">
<dl>
<dt class="hdlist1">postal (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>The postal code.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>, <a href="GeoSpatial_PositionECEF.html">PositionECEF</a>
<a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>, <a href="GeoSpatial_Location.html">Location</a>
<a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>