<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_location">Structure <code>Location</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="GeoSpatial_Object.html">GeoSpatial.Object</a><br>
&#160;&#160;&#160;┗&#160;GeoSpatial.Location</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong><a href="#F1">typeObject</a> RTT key</strong>: GeoSpatial.ObjectType.Location<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines a simple location object comprising a shape with optional name, identity, and address information.  Location is typically
      used to convey basic information about a place.  More complex types with uncertainty, confidence, bounds are available in in GeoObject and HPE positioning
      definitions.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Object.html">GeoSpatial.Object</a></div>
<p><a href="#F1">typeObject</a>, <a href="#F2">uuid</a>, <a href="#F3">uriExternal</a>, <a href="#F4">uriClassifier</a>, <a href="#F5">name</a>, <a href="#F6">description</a>, <a href="#F7">miscdata</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.Location</div>
<p><a href="#F1">shape</a>, <a href="#F2">veracity</a>, <a href="#F3">confidence</a>, <a href="#F4">address</a>, <a href="#F5">floor</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">shape (required) : <a href="GeoSpatial_Shape.html">Shape</a> </dt>
<dd>
<p>The shape of the location.  Can be any of the shape types.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">veracity (required) : <a href="Tensor_float32.html">float32</a> </dt>
<dd>
<p>Veracity defines the validity of the measurement in the range between 0 and 1.
          A high score means the estimate is deemed valid and more reliable than a lower score.
          If no veracity scoring is performed, this will have a value of -1.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">confidence (required) : <a href="Tensor_float32.html">float32</a> </dt>
<dd>
<p>The estimate confidence.  Valid range is 0.0 to 1.0.  Typical value is 0.68 (one standard deviation).   Default is -1 for not defined.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">address (optional) : <a href="GeoSpatial_AddressInfo.html">AddressInfo</a> </dt>
<dd>
<p>Optional address associated with the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">floor (optional) : <a href="Tensor_int16.html">int16</a> </dt>
<dd>
<p>Optional floor number<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>
<a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>