<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_boundingbox">Structure <code>BoundingBox</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;GeoSpatial.BoundingBox</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong>packed</strong>: true</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines a bounding box in WGS84 reference frame.<br>
Units for latitude and longitude are in units of micro degrees (1e-6 degrees) providing for about 11 cm resolution near the equator. Altitude units are in millimeters.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.BoundingBox</div>
<p><a href="#F1">latmin</a>, <a href="#F2">latmax</a>, <a href="#F3">lonmin</a>, <a href="#F4">lonmax</a>, <a href="#F5">altmin</a>, <a href="#F6">altmax</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">latmin (required) : <a href="Tensor_int32.html">int32</a>, in microdegrees </dt>
<dd>
<p>Minimum value of the latitude. Valid range is -90,000,000 ≤ lat ≤ 90,000,000.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">latmax (required) : <a href="Tensor_int32.html">int32</a>, in microdegrees </dt>
<dd>
<p>Maximum value of the latitude. Valid range is -90,000,000 ≤ lat ≤ 90,000,000.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">lonmin (required) : <a href="Tensor_int32.html">int32</a>, in microdegrees </dt>
<dd>
<p>Minimum value of the longitude. Valid range is -180,000,000 ≤ lat ≤ 180,000,000.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">lonmax (required) : <a href="Tensor_int32.html">int32</a>, in microdegrees </dt>
<dd>
<p>Maximum value of the longitude. Valid range is -180,000,000 ≤ lat ≤ 180,000,000.<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">altmin (required) : <a href="Tensor_int32.html">int32</a>, in cm </dt>
<dd>
<p>Minimum value of the altitude.  Valid range is +- 1,000,000,000 cm.<br></p>
</dd>
</dl>
</div>
<div id="F6" class="dlist">
<dl>
<dt class="hdlist1">altmax (required) : <a href="Tensor_int32.html">int32</a>, in cm </dt>
<dd>
<p>Maximum value of the altitude. Valid range is +- 1,000,000,000 cm.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>, <a href="GeoSpatial_PositionECEF.html">PositionECEF</a>
<a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>, <a href="GeoSpatial_Location.html">Location</a>
<a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>