<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_enumeration_shapetype">Enumeration <code>ShapeType</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong>type</strong>: <a href="Tensor_int8.html">Tensor.int8</a><br>
<strong>default</strong>: GeoSpatial.ShapeType.undefined</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>&#160;</p>
</div>
<div class="sect2">
<h3 id="_literals">Literals</h3>
<div id="L1" class="dlist">
<dl>
<dt class="hdlist1">undefined : 0 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L2" class="dlist">
<dl>
<dt class="hdlist1">Covariance : 1 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L3" class="dlist">
<dl>
<dt class="hdlist1">Point2D : 20 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L4" class="dlist">
<dl>
<dt class="hdlist1">Circle : 21 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L5" class="dlist">
<dl>
<dt class="hdlist1">Ellipse : 22 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L6" class="dlist">
<dl>
<dt class="hdlist1">Arc : 23 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L7" class="dlist">
<dl>
<dt class="hdlist1">ArcBand : 24 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L8" class="dlist">
<dl>
<dt class="hdlist1">Polygon : 25 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L9" class="dlist">
<dl>
<dt class="hdlist1">Point3D : 30 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L10" class="dlist">
<dl>
<dt class="hdlist1">Spheroid : 31 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L11" class="dlist">
<dl>
<dt class="hdlist1">Ellipsoid : 32 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L12" class="dlist">
<dl>
<dt class="hdlist1">Arc3D : 33 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L13" class="dlist">
<dl>
<dt class="hdlist1">ArcBand3D : 34 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L14" class="dlist">
<dl>
<dt class="hdlist1">Polygon3D : 35 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>
<a href="GeoSpatial_Location.html">Location</a>, <a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>