<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_shape">Structure <code>Shape</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;GeoSpatial.Shape</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong>RTT Field</strong>: <a href="#F1">type</a><br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Shapes are used to describe various kinds of geometry.<br>
When used in an Estimate result the Shape represents the
                uncertainty area (2D) or uncertainty volume (3D) at the
                confidence in the Estimate.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.Shape</div>
<p><a href="#F1">type</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">type (required) : <a href="GeoSpatial_ShapeType.html">ShapeType</a> </dt>
<dd>
<p>This is the one thing all shapes have in common<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>, <a href="GeoSpatial_Location.html">Location</a>
<a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>