<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_ellipsoid">Structure <code>Ellipsoid</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="GeoSpatial_Shape.html">GeoSpatial.Shape</a><br>
&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Point2D.html">GeoSpatial.Point2D</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Point3D.html">GeoSpatial.Point3D</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;GeoSpatial.Ellipsoid</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong><a href="#F1">type</a> RTT key</strong>: GeoSpatial.ShapeType.Ellipsoid<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Ellipsoid is the shape of an oblong "pill" at an orientation.<br>
In an Estimate, the shape is the uncertainty area.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Shape.html">GeoSpatial.Shape</a></div>
<p><a href="#F1">type</a></p>
</div>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Point2D.html">GeoSpatial.Point2D</a></div>
<p><a href="#F1">lat</a>, <a href="#F2">lon</a></p>
</div>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Point3D.html">GeoSpatial.Point3D</a></div>
<p><a href="#F1">alt</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.Ellipsoid</div>
<p><a href="#F1">major</a>, <a href="#F2">minor</a>, <a href="#F3">orient</a>, <a href="#F4">vert</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">major (required) : <a href="Tensor_float32.html">float32</a>, in meters </dt>
<dd>
<p>major axis radius/distance/reach<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">minor (required) : <a href="Tensor_float32.html">float32</a>, in meters </dt>
<dd>
<p>minor axis radius/distance/reach<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">orient (required) : <a href="Tensor_float32.html">float32</a>, in degrees </dt>
<dd>
<p>angle between north and major axis.<br>
0 &#8656; orient &lt; 180.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">vert (required) : <a href="Tensor_float32.html">float32</a>, in meters </dt>
<dd>
<p>In an estimate, vert is the vertical uncertainty.<br>
0 &#8656; vert<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>
<a href="GeoSpatial_Location.html">Location</a>, <a href="GeoSpatial_Object.html">Object</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>