<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_geoobject">Structure <code>GeoObject</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="GeoSpatial_Object.html">GeoSpatial.Object</a><br>
&#160;&#160;&#160;┗&#160;GeoSpatial.GeoObject</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong><a href="#F1">typeObject</a> RTT key</strong>: GeoSpatial.ObjectType.GeoObject<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines the base 3D Geo Object comprising id, bounding box, and various other base information.  GeoObjects are
      not simple shapes. They have identity, temporal validity, and modification attributes.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Object.html">GeoSpatial.Object</a></div>
<p><a href="#F1">typeObject</a>, <a href="#F2">uuid</a>, <a href="#F3">uriExternal</a>, <a href="#F4">uriClassifier</a>, <a href="#F5">name</a>, <a href="#F6">description</a>, <a href="#F7">miscdata</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.GeoObject</div>
<p><a href="#F1">bounds</a>, <a href="#F2">floorMin</a>, <a href="#F3">floorMax</a>, <a href="#F4">shape</a>, <a href="#F5">address</a>, <a href="#F6">validBegin</a>, <a href="#F7">validEnd</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">bounds (required) : <a href="GeoSpatial_BoundingBox.html">BoundingBox</a> </dt>
<dd>
<p>Bounding box defining the maximum bounds for this GeoObject in WGS84 reference frame.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">floorMin (required) : <a href="Tensor_int16.html">int16</a> </dt>
<dd>
<p>Defines the minimum floor number associated with the minimum bounds of the bounding box.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">floorMax (required) : <a href="Tensor_int16.html">int16</a> </dt>
<dd>
<p>Defines the maximum floor number associated with the maximum bounds of the bounding box.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">shape (optional) : <a href="GeoSpatial_Shape.html">Shape</a> </dt>
<dd>
<p>Optional shape defining more detailed boundary of the GeoObject.  This shape must be contained
          entirely within the bounding box.<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">address (optional) : <a href="GeoSpatial_AddressInfo.html">AddressInfo</a> </dt>
<dd>
<p>Optional address associated with the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F6" class="dlist">
<dl>
<dt class="hdlist1">validBegin (optional) : <a href="Tensor_datetime.html">datetime</a> </dt>
<dd>
<p>Optional time stamp denoting beginning validity.<br></p>
</dd>
</dl>
</div>
<div id="F7" class="dlist">
<dl>
<dt class="hdlist1">validEnd (optional) : <a href="Tensor_datetime.html">datetime</a> </dt>
<dd>
<p>Optional time stamp denoting ending validity.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>, <a href="GeoSpatial_Location.html">Location</a>
<a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>