<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_enumeration_objecttype">Enumeration <code>ObjectType</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong>type</strong>: <a href="Tensor_int8.html">Tensor.int8</a><br>
<strong>default</strong>: GeoSpatial.ObjectType.Object</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Enumeration defines the supported Object types.<br></p>
</div>
<div class="sect2">
<h3 id="_literals">Literals</h3>
<div id="L1" class="dlist">
<dl>
<dt class="hdlist1">Object : 0 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L2" class="dlist">
<dl>
<dt class="hdlist1">GeoObject : 1 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L3" class="dlist">
<dl>
<dt class="hdlist1">Location : 2 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L4" class="dlist">
<dl>
<dt class="hdlist1">EventInfo : 3 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L5" class="dlist">
<dl>
<dt class="hdlist1">ProducerInfo : 4 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L6" class="dlist">
<dl>
<dt class="hdlist1">MonitorSet : 5 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L7" class="dlist">
<dl>
<dt class="hdlist1">IlpTestDataSet : 6 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L8" class="dlist">
<dl>
<dt class="hdlist1">IlpTestSpecification : 7 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L9" class="dlist">
<dl>
<dt class="hdlist1">IlpTestResults : 8 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L10" class="dlist">
<dl>
<dt class="hdlist1">IlpTestResultSet : 9 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_Point3D.html">Point3D</a>
<a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>
<a href="GeoSpatial_Location.html">Location</a>, <a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>