<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_point3d">Structure <code>Point3D</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="GeoSpatial_Shape.html">GeoSpatial.Shape</a><br>
&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Point2D.html">GeoSpatial.Point2D</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;GeoSpatial.Point3D</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: GeoSpatial<br>
<strong><a href="#F1">type</a> RTT key</strong>: GeoSpatial.ShapeType.Point3D<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines a 3D (lat, lon, alt) point in WGS84 coordinates.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Shape.html">GeoSpatial.Shape</a></div>
<p><a href="#F1">type</a></p>
</div>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="GeoSpatial_Point2D.html">GeoSpatial.Point2D</a></div>
<p><a href="#F1">lat</a>, <a href="#F2">lon</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in GeoSpatial.Point3D</div>
<p><a href="#F1">alt</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">alt (required) : <a href="Tensor_float64.html">float64</a>, in meters </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a>, <a href="GeoSpatial_Point2D.html">Point2D</a>, <a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_PositionECEF.html">PositionECEF</a>
<a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Shape.html">Shape</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a>, <a href="GeoSpatial_Spheroid.html">Spheroid</a>, <a href="GeoSpatial_Location.html">Location</a>
<a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="GeoSpatial_ShapeType.html">ShapeType</a>, <a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="GeoSpatial_XYZVector.html">XYZVector</a>, <a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a></p>
</div>
</div>
</div>
</div>