<div class="paragraph">
<p><em><a href="#">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_table_of_contents">Table of Contents</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_geospatial">GeoSpatial</h3>
<div class="dlist">
<dl>
<dt class="hdlist1">Types </dt>
<dd>
<p><a href="GeoSpatial_ShapeTypeArray.html">ShapeTypeArray</a>, <a href="GeoSpatial_XYZVector.html">XYZVector</a></p>
</dd>
<dt class="hdlist1">Enumerations </dt>
<dd>
<p><a href="GeoSpatial_ObjectType.html">ObjectType</a>, <a href="GeoSpatial_ReferenceFrame.html">ReferenceFrame</a>, <a href="GeoSpatial_ShapeType.html">ShapeType</a></p>
</dd>
<dt class="hdlist1">Structures </dt>
<dd>
<p><a href="GeoSpatial_AddressInfo.html">AddressInfo</a>, <a href="GeoSpatial_BoundingBox.html">BoundingBox</a>, <a href="GeoSpatial_Circle.html">Circle</a><br>
<a href="GeoSpatial_Ellipse.html">Ellipse</a>, <a href="GeoSpatial_Ellipsoid.html">Ellipsoid</a>, <a href="GeoSpatial_GeoObject.html">GeoObject</a><br>
<a href="GeoSpatial_Location.html">Location</a>, <a href="GeoSpatial_Object.html">Object</a>, <a href="GeoSpatial_Point2D.html">Point2D</a><br>
<a href="GeoSpatial_Point3D.html">Point3D</a>, <a href="GeoSpatial_PositionECEF.html">PositionECEF</a>, <a href="GeoSpatial_Shape.html">Shape</a><br>
<a href="GeoSpatial_Spheroid.html">Spheroid</a></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_kiata">Kiata</h3>
<div class="dlist">
<dl>
<dt class="hdlist1">Types </dt>
<dd>
<p><a href="Kiata_Int32Array.html">Int32Array</a></p>
</dd>
<dt class="hdlist1">Enumerations </dt>
<dd>
<p><a href="Kiata_MessageFlags.html">MessageFlags</a></p>
</dd>
<dt class="hdlist1">Structures </dt>
<dd>
<p><a href="Kiata_KVPair.html">KVPair</a></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_kiata_translation">Kiata.Translation</h3>
<div class="dlist">
<dl>
<dt class="hdlist1">Structures </dt>
<dd>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a><br>
<a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Location.html">Location</a><br>
<a href="Kiata_Translation_LocationReport.html">LocationReport</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a><br>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a></p>
</dd>
<dt class="hdlist1">Interfaces </dt>
<dd>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_kiata_translation_translator_decode">Kiata.Translation.Translator.Decode</h3>
<div class="dlist">
<dl>
<dt class="hdlist1">Structures </dt>
<dd>
<p><a href="Kiata_Translation_Translator_Decode_Input.html">Input</a>, <a href="Kiata_Translation_Translator_Decode_Output.html">Output</a></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_kiata_translation_translator_encode">Kiata.Translation.Translator.Encode</h3>
<div class="dlist">
<dl>
<dt class="hdlist1">Structures </dt>
<dd>
<p><a href="Kiata_Translation_Translator_Encode_Input.html">Input</a>, <a href="Kiata_Translation_Translator_Encode_Output.html">Output</a></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_tensor">Tensor</h3>
<div class="dlist">
<dl>
<dt class="hdlist1">Types </dt>
<dd>
<p><a href="Tensor_EncodingFormat.html">EncodingFormat</a>, <a href="Tensor_UUID.html">UUID</a>, <a href="Tensor_bool.html">bool</a><br>
<a href="Tensor_byte.html">byte</a>, <a href="Tensor_datetime.html">datetime</a>, <a href="Tensor_float32.html">float32</a><br>
<a href="Tensor_float64.html">float64</a>, <a href="Tensor_int16.html">int16</a>, <a href="Tensor_int24.html">int24</a><br>
<a href="Tensor_int32.html">int32</a>, <a href="Tensor_int64.html">int64</a>, <a href="Tensor_int8.html">int8</a><br>
<a href="Tensor_json.html">json</a>, <a href="Tensor_mac48.html">mac48</a>, <a href="Tensor_raw.html">raw</a><br>
<a href="Tensor_string.html">string</a>, <a href="Tensor_uint16.html">uint16</a>, <a href="Tensor_uint24.html">uint24</a><br>
<a href="Tensor_uint32.html">uint32</a>, <a href="Tensor_uint64.html">uint64</a>, <a href="Tensor_uint8.html">uint8</a><br>
<a href="Tensor_uri.html">uri</a>, <a href="Tensor_void.html">void</a>, <a href="Tensor_xmf.html">xmf</a></p>
</dd>
<dt class="hdlist1">Enumerations </dt>
<dd>
<p><a href="Tensor_ContentType.html">ContentType</a>, <a href="Tensor_InteractionRole.html">InteractionRole</a>, <a href="Tensor_ReservedEncodingFormats.html">ReservedEncodingFormats</a><br>
<a href="Tensor_ResultCode.html">ResultCode</a>, <a href="Tensor_WirelineFormat.html">WirelineFormat</a></p>
</dd>
<dt class="hdlist1">Structures </dt>
<dd>
<p><a href="Tensor_InputBase.html">InputBase</a>, <a href="Tensor_NameValue.html">NameValue</a>, <a href="Tensor_OutputBase.html">OutputBase</a><br>
<a href="Tensor_VoidType.html">VoidType</a></p>
</dd>
</dl>
</div>
</div>
</div>
</div>