<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="#">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_hierarchy">Structure Hierarchy</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="GeoSpatial_AddressInfo.html">GeoSpatial.AddressInfo</a><br>
<a href="GeoSpatial_BoundingBox.html">GeoSpatial.BoundingBox</a><br>
<a href="GeoSpatial_Object.html">GeoSpatial.Object</a><br>
&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_GeoObject.html">GeoSpatial.GeoObject</a><br>
&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Location.html">GeoSpatial.Location</a><br>
<a href="GeoSpatial_PositionECEF.html">GeoSpatial.PositionECEF</a><br>
<a href="GeoSpatial_Shape.html">GeoSpatial.Shape</a><br>
&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Point2D.html">GeoSpatial.Point2D</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Circle.html">GeoSpatial.Circle</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Ellipse.html">GeoSpatial.Ellipse</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Point3D.html">GeoSpatial.Point3D</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Ellipsoid.html">GeoSpatial.Ellipsoid</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="GeoSpatial_Spheroid.html">GeoSpatial.Spheroid</a><br>
<a href="Kiata_KVPair.html">Kiata.KVPair</a><br>
<a href="Kiata_Translation_Location.html">Kiata.Translation.Location</a><br>
<a href="Kiata_Translation_LoRaGatewayInfo.html">Kiata.Translation.LoRaGatewayInfo</a><br>
<a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_Int32Msg.html">Kiata.Translation.Int32Msg</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_KeyValueMsg.html">Kiata.Translation.KeyValueMsg</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_UnencodedMsg.html">Kiata.Translation.UnencodedMsg</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_InvalidMsg.html">Kiata.Translation.InvalidMsg</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_LocationReport.html">Kiata.Translation.LocationReport</a><br>
<a href="Kiata_Translation_SpeedInfo.html">Kiata.Translation.SpeedInfo</a><br>
<a href="Kiata_Translation_TransportPayload.html">Kiata.Translation.TransportPayload</a><br>
<a href="Tensor_InputBase.html">Tensor.InputBase</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_Translator_Decode_Input.html">Kiata.Translation.Translator.Decode.Input</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_Translator_Encode_Input.html">Kiata.Translation.Translator.Encode.Input</a><br>
<a href="Tensor_NameValue.html">Tensor.NameValue</a><br>
<a href="Tensor_OutputBase.html">Tensor.OutputBase</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_Translator_Decode_Output.html">Kiata.Translation.Translator.Decode.Output</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_Translator_Encode_Output.html">Kiata.Translation.Translator.Encode.Output</a><br>
<a href="Tensor_VoidType.html">Tensor.VoidType</a><br>
&#160;</p>
</div>
</div>
</div>