<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_flexmessage">Structure <code>FlexMessage</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;Kiata.Translation.FlexMessage</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong><a href="#F1">msgtype</a> RTT key</strong>: "FlexMessage"<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Base message structure for Flex messages. Flex Messages can be translated using OCM specifications.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a></div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.FlexMessage</div>
<p><a href="#F1">nid</a>, <a href="#F2">priority</a>, <a href="#F3">category</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">nid (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Message named identifier (nid).  This identifier matches the NID message specifiers defined in the device OCM model.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">priority (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional message priority.  May be one of the following string values<br></p>
<div class="ulist">
<ul>
<li>
<p>unspecified<br></p>
</li>
<li>
<p>critical<br></p>
</li>
<li>
<p>high<br></p>
</li>
<li>
<p>med<br></p>
</li>
<li>
<p>low<br></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">category (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional message category specifier.  May be one of the following string values<br></p>
<div class="ulist">
<ul>
<li>
<p>unspecified<br></p>
</li>
<li>
<p>error<br></p>
</li>
<li>
<p>warning<br></p>
</li>
<li>
<p>alert<br></p>
</li>
<li>
<p>info<br></p>
</li>
<li>
<p>detail<br></p>
</li>
<li>
<p>debug<br></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>, <a href="Kiata_Translation_Location.html">Location</a>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>