<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_speedinfo">Structure <code>SpeedInfo</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Kiata.Translation.SpeedInfo</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong>packed</strong>: true</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Structure contains speed information of the object.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.SpeedInfo</div>
<p><a href="#F1">horizontal</a>, <a href="#F2">vertical</a>, <a href="#F3">azimuth</a>, <a href="#F4">uncertainty</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">horizontal (required) : <a href="Tensor_float32.html">float32</a>, in meters/sec </dt>
<dd>
<p>Optional horizontal speed of device in meters/sec<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">vertical (required) : <a href="Tensor_float32.html">float32</a>, in meters/sec </dt>
<dd>
<p>Optional vertical speed of device in meters/sec<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">azimuth (required) : <a href="Tensor_float32.html">float32</a>, in degrees </dt>
<dd>
<p>Optional azimuthal heading of the associated object in degrees (true North).<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">uncertainty (required) : <a href="Tensor_float32.html">float32</a>, in meters/sec </dt>
<dd>
<p>Optional speed uncertainty in meters/sec.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_Location.html">Location</a>, <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>