<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_interface_translator">Interface <code>Translator</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Communications Translation API for Kiata Devices.  Encodes and Decodes data.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Interactions defined in Kiata.Translation.Translator</div>
<p><a href="#O1">Decode</a>, <a href="#O2">Encode</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_interaction_detail">Interaction Detail</h3>
<div id="O1" class="dlist">
<dl>
<dt class="hdlist1">Decode ( <em>in</em> Input : <a href="Kiata_Translation_Translator_Decode_Input.html">Input</a>"sid=4096") : <a href="Kiata_Translation_Translator_Decode_Output.html">Output</a> </dt>
<dd>
<p>Operation processes received messages from the Kiata device.<br></p>
</dd>
</dl>
</div>
<div id="O2" class="dlist">
<dl>
<dt class="hdlist1">Encode ( <em>in</em> Input : <a href="Kiata_Translation_Translator_Encode_Input.html">Input</a>"sid=4098") : <a href="Kiata_Translation_Translator_Encode_Output.html">Output</a> </dt>
<dd>
<p>Operation prepares messages for transport to the Kiata device.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_Location.html">Location</a>, <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>
<a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
</div>
</div>
</div>