<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_kvpair">Structure <code>KVPair</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Kiata.KVPair</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Specifies a simple key value pair comprising a uint8 identifier and a string. Either nid or id must be specified.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Kiata.KVPair</div>
<p><a href="#F1">nid</a>, <a href="#F2">id</a>, <a href="#F3">sval</a>, <a href="#F4">ival</a>, <a href="#F5">raw</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">nid (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional String identifier, typically used on cloud API interfaces, where transport size is not an issue.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">id (optional) : <a href="Tensor_uint8.html">uint8</a> </dt>
<dd>
<p>Unique identifier for the pair, must be specified if nid is not present.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">sval (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional String value<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">ival (optional) : <a href="Kiata_Int32Array.html">Int32Array</a> </dt>
<dd>
<p>Optional Unsigned integer values<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">raw (optional) : <a href="Tensor_raw.html">raw</a> </dt>
<dd>
<p>Optional raw binary data.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="Kiata_MessageFlags.html">MessageFlags</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="Kiata_Int32Array.html">Int32Array</a></p>
</div>
</div>
</div>
</div>