<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_locationreport">Structure <code>LocationReport</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;Kiata.Translation.LocationReport</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong><a href="#F1">msgtype</a> RTT key</strong>: "LocationReport"<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Message provides location information about the device.  A location report is
        generated everytime a decode operation is executed to provide location context. If
        the report is new generated from device provided location data, the 'updated' boolean will be true.
        If the 'updated' boolean is false, then this this location was previously reported and provided for
        context.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a></div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.LocationReport</div>
<p><a href="#F1">updated</a>, <a href="#F2">location</a>, <a href="#F3">speed</a>, <a href="#F4">epoch</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">updated (required) : <a href="Tensor_bool.html">bool</a> </dt>
<dd>
<p>Indicates if the location is being reported for the first time.  If true, the location report is new;
        if false, the location is a last reported location, previously updated.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">location (required) : <a href="Kiata_Translation_Location.html">Location</a> </dt>
<dd>
<p>Reported location information.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">speed (optional) : <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a> </dt>
<dd>
<p>Optional speed information. This will only be available with devices equipped with a GNSS/GPS sensors.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">epoch (required) : <a href="Tensor_datetime.html">datetime</a> </dt>
<dd>
<p>Date and time location was measured/reported by the device.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_Location.html">Location</a>, <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>