<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_invalidmsg">Structure <code>InvalidMsg</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;Kiata.Translation.InvalidMsg</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong><a href="#F1">msgtype</a> RTT key</strong>: "InvalidMsg"<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Message provides API consumer with additional information, when a message fails to translate or was deemed
      invalid due to a transport error.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a></div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.InvalidMsg</div>
<p><a href="#F1">id</a>, <a href="#F2">code</a>, <a href="#F3">sinfo</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">id (optional) : <a href="Tensor_uint8.html">uint8</a> </dt>
<dd>
<p>Optional encoded ID of the message if available.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">code (required) : <a href="Tensor_ResultCode.html">ResultCode</a> </dt>
<dd>
<p>Result code indicating nature of invalidation.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">sinfo (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional string message providing more details on why message was deemed invalid.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_Location.html">Location</a>, <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>