<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_loragatewayinfo">Structure <code>LoRaGatewayInfo</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Kiata.Translation.LoRaGatewayInfo</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Received gateway information structure.  This definition currently matches the structure specified by EasyLinkIn.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.LoRaGatewayInfo</div>
<p><a href="#F1">fcntdown</a>, <a href="#F2">fcntup</a>, <a href="#F3">gweui</a>, <a href="#F4">rssi</a>, <a href="#F5">lsnr</a>, <a href="#F6">alti</a>, <a href="#F7">lng</a>, <a href="#F8">lati</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">fcntdown (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">fcntup (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">gweui (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">rssi (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">lsnr (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F6" class="dlist">
<dl>
<dt class="hdlist1">alti (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F7" class="dlist">
<dl>
<dt class="hdlist1">lng (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="F8" class="dlist">
<dl>
<dt class="hdlist1">lati (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>, <a href="Kiata_Translation_Location.html">Location</a>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>