<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_location">Structure <code>Location</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Kiata.Translation.Location</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines a location object comprising a shape with optional address information.  Location is typically
        used to convey information about a place.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.Location</div>
<p><a href="#F1">name</a>, <a href="#F2">description</a>, <a href="#F3">miscdata</a>, <a href="#F4">shape</a>, <a href="#F5">veracity</a>, <a href="#F6">confidence</a>, <a href="#F7">address</a>, <a href="#F8">floor</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">name (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional user friendly name of the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">description (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional user friendly description of the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">miscdata (optional) : <a href="Tensor_json.html">json</a> </dt>
<dd>
<p>Optional miscellaneous JSON data associated with this object. This field is
        provided to add additional non-typed data to the object, which can be application specific.
        Should multiple applications share this data, then likely an updated XID definition would be more
        appropriate.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">shape (required) : <a href="GeoSpatial_Shape.html">Shape</a> </dt>
<dd>
<p>The shape of the location.  Can be any of the shape types.<br></p>
</dd>
</dl>
</div>
<div id="F5" class="dlist">
<dl>
<dt class="hdlist1">veracity (required) : <a href="Tensor_float32.html">float32</a> </dt>
<dd>
<p>Veracity defines the validity of the measurement in the range between 0 and 1.
          A high score means the estimate is deemed valid and more reliable than a lower score.
          If no veracity scoring is performed, this will have a value of -1.<br></p>
</dd>
</dl>
</div>
<div id="F6" class="dlist">
<dl>
<dt class="hdlist1">confidence (required) : <a href="Tensor_float32.html">float32</a> </dt>
<dd>
<p>The estimate confidence.  Valid range is 0.0 to 1.0.  Typical value is 0.68 (one standard deviation).   Default is -1 for not defined.<br></p>
</dd>
</dl>
</div>
<div id="F7" class="dlist">
<dl>
<dt class="hdlist1">address (optional) : <a href="GeoSpatial_AddressInfo.html">AddressInfo</a> </dt>
<dd>
<p>Optional address associated with the GeoObject.<br></p>
</dd>
</dl>
</div>
<div id="F8" class="dlist">
<dl>
<dt class="hdlist1">floor (optional) : <a href="Tensor_int16.html">int16</a> </dt>
<dd>
<p>Optional floor number<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>