<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_transportpayload">Structure <code>TransportPayload</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Kiata.Translation.TransportPayload</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Raw Kiata Payload Structure with metadata.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.TransportPayload</div>
<p><a href="#F1">payload</a>, <a href="#F2">dateTransport</a>, <a href="#F3">gateways</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">payload (required) : <a href="Tensor_raw.html">raw</a> </dt>
<dd>
<p>Raw binary payload data.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">dateTransport (required) : <a href="Tensor_datetime.html">datetime</a> </dt>
<dd>
<p>Date and time message was transported.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">gateways [zero or more] : <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a> </dt>
<dd>
<p>Optional associated received LoRa gateway information.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_Location.html">Location</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>