<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_keyvaluemsg">Structure <code>KeyValueMsg</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;Kiata.Translation.KeyValueMsg</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong><a href="#F1">msgtype</a> RTT key</strong>: "KeyValueMsg"<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Key value message comprising an identifier and zero or more key value pairs.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a></div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a></div>
<p><a href="#F1">nid</a>, <a href="#F2">priority</a>, <a href="#F3">category</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.KeyValueMsg</div>
<p><a href="#F1">entries</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">entries [one or more] : <a href="Kiata_KVPair.html">KVPair</a> </dt>
<dd>
<p>List of key value paired entries.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>, <a href="Kiata_Translation_Location.html">Location</a>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>