<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_input">Structure <code>Input</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Tensor_InputBase.html">Tensor.InputBase</a><br>
&#160;&#160;&#160;┗&#160;Kiata.Translation.Translator.Encode.Input</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation.Translator.Encode<br>
<strong>sid</strong>: 4098 (Interaction ID)<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>&#160;</p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Tensor_InputBase.html">Tensor.InputBase</a></div>
<p><a href="#F1">devid</a>, <a href="#F2">etid</a>, <a href="#F3">directive</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.Translator.Encode.Input</div>
<p><a href="#F1">messages</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">messages [one or more] : <a href="Kiata_Translation_Message.html">Message</a> </dt>
<dd>
<p>The messages to send to the device.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_Translator_Encode_Output.html">Output</a></p>
</div>
</div>
</div>
</div>