<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_int32msg">Structure <code>Int32Msg</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;Kiata.Translation.Int32Msg</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong><a href="#F1">msgtype</a> RTT key</strong>: "Int32Msg"<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Simple message that sends an integer array  or integer token
      (strings that gets encoded into an integer using OCM specification)<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a></div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a></div>
<p><a href="#F1">nid</a>, <a href="#F2">priority</a>, <a href="#F3">category</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.Int32Msg</div>
<p><a href="#F1">vals</a>, <a href="#F2">svals</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">vals [zero or more] : <a href="Tensor_int32.html">int32</a> </dt>
<dd>
<p>zero or more integer values.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">svals [zero or more] : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>OCM specifiers (string token), which will be encoded into integers for transport.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>
<a href="Kiata_Translation_Location.html">Location</a>, <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>