<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_array_int32array">Array <code>Int32Array</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: Kiata<br>
<strong>type</strong>: <a href="Tensor_int32.html">Tensor.int32</a> [*]</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>&#160;</p>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_KVPair.html">KVPair</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="Kiata_MessageFlags.html">MessageFlags</a></p>
</div>
</div>
</div>
</div>