<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_input">Structure <code>Input</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Tensor_InputBase.html">Tensor.InputBase</a><br>
&#160;&#160;&#160;┗&#160;Kiata.Translation.Translator.Decode.Input</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation.Translator.Decode<br>
<strong>sid</strong>: 4096 (Interaction ID)<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>&#160;</p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Tensor_InputBase.html">Tensor.InputBase</a></div>
<p><a href="#F1">devid</a>, <a href="#F2">etid</a>, <a href="#F3">directive</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.Translator.Decode.Input</div>
<p><a href="#F1">confidence</a>, <a href="#F2">typeShape</a>, <a href="#F3">upload</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">confidence (optional) : <a href="Tensor_float32.html">float32</a> </dt>
<dd>
<p>Optional value specifies the confidence level to report estimate error uncertainty, range between 0.0 and 1.0<br>
Common values for confidence are:<br>
&#160;&#160;&#160;&#160; 0.682689 (1 std. dev.)<br>
&#160;&#160;&#160;&#160; 0.954499 (2 std. dev.)<br>
&#160;&#160;&#160;&#160; 0.997300 (3 std. dev.)<br>
If confidence is not specified, the default value is 0.682689.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">typeShape [zero or more] : <a href="GeoSpatial_ShapeType.html">ShapeType</a> </dt>
<dd>
<p>Optional list specifies the preferred shape types to provide estimates in. The highest
                  ranking estimate will be returned in this specified shape types if supported.
                  If not specified, the set defaults to: Spheroid.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">upload [one or more] : <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a> </dt>
<dd>
<p>Uploaded messages from the Kiata device.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_Translator_Decode_Output.html">Output</a></p>
</div>
</div>
</div>
</div>