<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_enumeration_messageflags">Enumeration <code>MessageFlags</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: Kiata<br>
<strong>type</strong>: <a href="Tensor_uint8.html">Tensor.uint8</a><br>
<strong>default</strong>: Kiata.MessageFlags.Unspecified</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Defines the priority of action messages.<br></p>
</div>
<div class="sect2">
<h3 id="_literals">Literals</h3>
<div id="L1" class="dlist">
<dl>
<dt class="hdlist1">Unspecified : 0 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L2" class="dlist">
<dl>
<dt class="hdlist1">Critical : 1 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L3" class="dlist">
<dl>
<dt class="hdlist1">High : 2 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L4" class="dlist">
<dl>
<dt class="hdlist1">Med : 3 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L5" class="dlist">
<dl>
<dt class="hdlist1">Low : 4 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L6" class="dlist">
<dl>
<dt class="hdlist1">Error : 16 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L7" class="dlist">
<dl>
<dt class="hdlist1">Warning : 32 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L8" class="dlist">
<dl>
<dt class="hdlist1">Alert : 48 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L9" class="dlist">
<dl>
<dt class="hdlist1">Info : 64 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L10" class="dlist">
<dl>
<dt class="hdlist1">Debug : 80 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L11" class="dlist">
<dl>
<dt class="hdlist1">TypeMask : 240 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L12" class="dlist">
<dl>
<dt class="hdlist1">PriorityMask : 15 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_KVPair.html">KVPair</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="Kiata_Int32Array.html">Int32Array</a></p>
</div>
</div>
</div>
</div>