<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_unencodedmsg">Structure <code>UnencodedMsg</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a><br>
&#160;&#160;&#160;┗&#160;<a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a><br>
&#160;&#160;&#160;&#160;&#160;&#160;┗&#160;Kiata.Translation.UnencodedMsg</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong><a href="#F1">msgtype</a> RTT key</strong>: "UnencodedMsg"<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Unencoded messages are specified by the solution provider and associated Flex OCM application and pass through the kiata services without alteration
      other than adding the nid specifier.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_Message.html">Kiata.Translation.Message</a></div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Kiata_Translation_FlexMessage.html">Kiata.Translation.FlexMessage</a></div>
<p><a href="#F1">nid</a>, <a href="#F2">priority</a>, <a href="#F3">category</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.UnencodedMsg</div>
<p><a href="#F1">id</a>, <a href="#F2">rawdata</a>, <a href="#F3">jsondata</a>, <a href="#F4">textdata</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">id (optional) : <a href="Tensor_uint8.html">uint8</a> </dt>
<dd>
<p>Optional encoded integer ID of the message. Can be values not specified in the Flex OCM model,
        which requires the nid to specified as '-unknown-' for those cases.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">rawdata [zero or more] : <a href="Tensor_raw.html">raw</a> </dt>
<dd>
<p>Optional raw binary data.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">jsondata [zero or more] : <a href="Tensor_json.html">json</a> </dt>
<dd>
<p>Optional JSON data.<br></p>
</dd>
</dl>
</div>
<div id="F4" class="dlist">
<dl>
<dt class="hdlist1">textdata [zero or more] : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional string data.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_Message.html">Message</a>, <a href="Kiata_Translation_Location.html">Location</a>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>