<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_output">Structure <code>Output</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="Tensor_OutputBase.html">Tensor.OutputBase</a><br>
&#160;&#160;&#160;┗&#160;Kiata.Translation.Translator.Decode.Output</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation.Translator.Decode<br>
<strong>sid</strong>: 4097 (Interaction ID)<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Decode operation output.  Returns resulting message data, location, and epoch timing.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Inherited fields defined in <a href="Tensor_OutputBase.html">Tensor.OutputBase</a></div>
<p><a href="#F1">devid</a>, <a href="#F2">etid</a>, <a href="#F3">resultcode</a>, <a href="#F4">errinfo</a></p>
</div>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.Translator.Decode.Output</div>
<p><a href="#F1">messages</a>, <a href="#F2">download</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">messages [one or more] : <a href="Kiata_Translation_Message.html">Message</a> </dt>
<dd>
<p>The processed uploaded messages.  Check result codes for possible failures.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">download [zero or more] : <a href="Kiata_Translation_TransportPayload.html">TransportPayload</a> </dt>
<dd>
<p>Payloads that are requiring download to the device as a result of decoding.  In
              certain cases, the translation system may require a response notification to the device.  If
              payload data is present in this message it is strongly recommended that they be downloaded
              to the device.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_Translator_Decode_Input.html">Input</a></p>
</div>
</div>
</div>
</div>