<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_message">Structure <code>Message</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Kiata.Translation.Message</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Kiata.Translation<br>
<strong>RTT Field</strong>: <a href="#F1">msgtype</a><br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Base message structure all service messages derive from this message.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Kiata.Translation.Message</div>
<p><a href="#F1">msgtype</a>, <a href="#F2">sent</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">msgtype (required) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Message type specifier<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">sent (required) : <a href="Tensor_datetime.html">datetime</a> </dt>
<dd>
<p>Date and time message was sent.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Kiata_Translation_FlexMessage.html">FlexMessage</a>, <a href="Kiata_Translation_KeyValueMsg.html">KeyValueMsg</a>, <a href="Kiata_Translation_LoRaGatewayInfo.html">LoRaGatewayInfo</a>, <a href="Kiata_Translation_UnencodedMsg.html">UnencodedMsg</a>, <a href="Kiata_Translation_Location.html">Location</a>
<a href="Kiata_Translation_TransportPayload.html">TransportPayload</a>, <a href="Kiata_Translation_SpeedInfo.html">SpeedInfo</a>, <a href="Kiata_Translation_InvalidMsg.html">InvalidMsg</a>, <a href="Kiata_Translation_Int32Msg.html">Int32Msg</a>, <a href="Kiata_Translation_LocationReport.html">LocationReport</a></p>
</div>
<div class="paragraph">
<div class="title">Interfaces</div>
<p><a href="Kiata_Translation_Translator.html">Translator</a></p>
</div>
</div>
</div>
</div>