<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_type_encodingformat">Type <code>EncodingFormat</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: Tensor<br>
<strong>languages</strong>: node(XidUShort), cpp(uint16_t), c(uint16_t), java(XidShort)</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>The encoding format determines how element data is run-time encoded within a particular element independent of the
                transport encoding.
              These values are specified in the "encoding" attribute for elements. Not all encoding formats
              are supported by every wireline protocol implementation.  Additionally, custom encodings may be
              defined to support application defined encodings.   Any non-standard encodings must be registered (to avoid collision)
              and approved by the appropriate approving authority (e.g. Comtech). Values from 0 to 255 are reserved
              for standard-encodings. Custom encodings start at 256(0x0100) and extend to 65535 (0xFFFF).<br>
<br>
This is not the same as defining in XID a raw datatype or json datatype which are NOT changeable are run-time.<br>
Example:<br>
&#160;&#160;&#160;&#160; The message XMF but a field is defined to be encoded as JSON.<br>
&#160;&#160;&#160;&#160; Likewise, the message is JSON, but a field is run-time encoded to be XMF.<br>
<br>
Data encoding format type. If 0, value is not encoded. See ResrvedEncodingFormats
              for a list of standard format specifiers.<br></p>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Tensor_VoidType.html">VoidType</a>, <a href="Tensor_OutputBase.html">OutputBase</a>, <a href="Tensor_NameValue.html">NameValue</a>, <a href="Tensor_InputBase.html">InputBase</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="Tensor_WirelineFormat.html">WirelineFormat</a>, <a href="Tensor_ResultCode.html">ResultCode</a>, <a href="Tensor_ReservedEncodingFormats.html">ReservedEncodingFormats</a>, <a href="Tensor_InteractionRole.html">InteractionRole</a>, <a href="Tensor_ContentType.html">ContentType</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="Tensor_uint32.html">uint32</a>, <a href="Tensor_xmf.html">xmf</a>, <a href="Tensor_raw.html">raw</a>, <a href="Tensor_string.html">string</a>, <a href="Tensor_uint16.html">uint16</a>
<a href="Tensor_uint24.html">uint24</a>, <a href="Tensor_UUID.html">UUID</a>, <a href="Tensor_int32.html">int32</a>, <a href="Tensor_int24.html">int24</a>, <a href="Tensor_int8.html">int8</a>
<a href="Tensor_uint64.html">uint64</a>, <a href="Tensor_int16.html">int16</a>, <a href="Tensor_mac48.html">mac48</a>, <a href="Tensor_float64.html">float64</a>, <a href="Tensor_void.html">void</a>
<a href="Tensor_int64.html">int64</a>, <a href="Tensor_uint8.html">uint8</a>, <a href="Tensor_uri.html">uri</a>, <a href="Tensor_json.html">json</a>, <a href="Tensor_bool.html">bool</a>
<a href="Tensor_float32.html">float32</a>, <a href="Tensor_byte.html">byte</a>, <a href="Tensor_datetime.html">datetime</a></p>
</div>
</div>
</div>
</div>