<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_enumeration_contenttype">Enumeration <code>ContentType</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: Tensor<br>
<strong>type</strong>: <a href="Tensor_uint8.html">Tensor.uint8</a><br>
<strong>default</strong>: Tensor.ContentType.undefined</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Enum defines the content type of XID interactions.  These are defined to facilitate standard definitions within XID interactions independent of the
          specific transport protocol or XID conduit.<br></p>
</div>
<div class="sect2">
<h3 id="_literals">Literals</h3>
<div id="L1" class="dlist">
<dl>
<dt class="hdlist1">undefined : 0 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L2" class="dlist">
<dl>
<dt class="hdlist1">dataobject : 1 </dt>
<dd>
<p>&#160;</p>
</dd>
</dl>
</div>
<div id="L3" class="dlist">
<dl>
<dt class="hdlist1">xmf : 2 </dt>
<dd>
<p>Data is XMF binary format.  The binary data is structured using atoms and atom lists.
                    For textual wireline encodings like JSON, this is XMF base64 encoded.<br></p>
</dd>
</dl>
</div>
<div id="L4" class="dlist">
<dl>
<dt class="hdlist1">json : 3 </dt>
<dd>
<p>Data is formatted as JSON compliant ascii text.  For binary encodings like XMF, the content will be JSON instead.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Tensor_VoidType.html">VoidType</a>, <a href="Tensor_OutputBase.html">OutputBase</a>, <a href="Tensor_NameValue.html">NameValue</a>, <a href="Tensor_InputBase.html">InputBase</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="Tensor_WirelineFormat.html">WirelineFormat</a>, <a href="Tensor_ResultCode.html">ResultCode</a>, <a href="Tensor_ReservedEncodingFormats.html">ReservedEncodingFormats</a>, <a href="Tensor_InteractionRole.html">InteractionRole</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="Tensor_uint32.html">uint32</a>, <a href="Tensor_xmf.html">xmf</a>, <a href="Tensor_raw.html">raw</a>, <a href="Tensor_string.html">string</a>, <a href="Tensor_uint16.html">uint16</a>
<a href="Tensor_uint24.html">uint24</a>, <a href="Tensor_UUID.html">UUID</a>, <a href="Tensor_int32.html">int32</a>, <a href="Tensor_int24.html">int24</a>, <a href="Tensor_int8.html">int8</a>
<a href="Tensor_uint64.html">uint64</a>, <a href="Tensor_int16.html">int16</a>, <a href="Tensor_EncodingFormat.html">EncodingFormat</a>, <a href="Tensor_mac48.html">mac48</a>, <a href="Tensor_float64.html">float64</a>
<a href="Tensor_void.html">void</a>, <a href="Tensor_int64.html">int64</a>, <a href="Tensor_uint8.html">uint8</a>, <a href="Tensor_uri.html">uri</a>, <a href="Tensor_json.html">json</a>
<a href="Tensor_bool.html">bool</a>, <a href="Tensor_float32.html">float32</a>, <a href="Tensor_byte.html">byte</a>, <a href="Tensor_datetime.html">datetime</a></p>
</div>
</div>
</div>
</div>