<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_type_uint24">Type <code>uint24</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>namespace</strong>: Tensor<br>
<strong>languages</strong>: node(XidUInt24), cpp(uint24_t), c(uint24_t), java(XidInt24)</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>24-bit, unsigned value<br></p>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Tensor_VoidType.html">VoidType</a>, <a href="Tensor_OutputBase.html">OutputBase</a>, <a href="Tensor_NameValue.html">NameValue</a>, <a href="Tensor_InputBase.html">InputBase</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="Tensor_WirelineFormat.html">WirelineFormat</a>, <a href="Tensor_ResultCode.html">ResultCode</a>, <a href="Tensor_ReservedEncodingFormats.html">ReservedEncodingFormats</a>, <a href="Tensor_InteractionRole.html">InteractionRole</a>, <a href="Tensor_ContentType.html">ContentType</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="Tensor_uint32.html">uint32</a>, <a href="Tensor_xmf.html">xmf</a>, <a href="Tensor_raw.html">raw</a>, <a href="Tensor_string.html">string</a>, <a href="Tensor_uint16.html">uint16</a>
<a href="Tensor_UUID.html">UUID</a>, <a href="Tensor_int32.html">int32</a>, <a href="Tensor_int24.html">int24</a>, <a href="Tensor_int8.html">int8</a>, <a href="Tensor_uint64.html">uint64</a>
<a href="Tensor_int16.html">int16</a>, <a href="Tensor_EncodingFormat.html">EncodingFormat</a>, <a href="Tensor_mac48.html">mac48</a>, <a href="Tensor_float64.html">float64</a>, <a href="Tensor_void.html">void</a>
<a href="Tensor_int64.html">int64</a>, <a href="Tensor_uint8.html">uint8</a>, <a href="Tensor_uri.html">uri</a>, <a href="Tensor_json.html">json</a>, <a href="Tensor_bool.html">bool</a>
<a href="Tensor_float32.html">float32</a>, <a href="Tensor_byte.html">byte</a>, <a href="Tensor_datetime.html">datetime</a></p>
</div>
</div>
</div>
</div>