<div class="paragraph">
<p><em><a href="index_toc.html">Contents</a>, <a href="index_hierarchy.html">Hierarchy</a></em></p>
</div>
<div class="sect1">
<h2 id="_structure_inputbase">Structure <code>InputBase</code></h2>
<div class="sectionbody">
<div class="paragraph">
<p>┗&#160;Tensor.InputBase</p>
</div>
<div class="paragraph">
<p><strong>namespace</strong>: Tensor<br>
<strong>packed</strong>: false</p>
</div>
<div class="paragraph">
<div class="title">Description</div>
<p>Base input fields for operations supporting asynchronous transaction information.<br></p>
</div>
<div class="sect2">
<h3 id="_summary">Summary</h3>
<div class="paragraph">
<div class="title">Fields defined in Tensor.InputBase</div>
<p><a href="#F1">devid</a>, <a href="#F2">etid</a>, <a href="#F3">directive</a></p>
</div>
</div>
<div class="sect2">
<h3 id="_field_detail">Field Detail</h3>
<div id="F1" class="dlist">
<dl>
<dt class="hdlist1">devid (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional device identifier, that provides a consistent multi-transaction identifier
          for a device or equivalent (e.g. service identifier)  providing the data.  Any errors or issues resulting from processing the data will include this identifier
          in the system logs, providing traceability.  Identifier should be unique.<br></p>
</dd>
</dl>
</div>
<div id="F2" class="dlist">
<dl>
<dt class="hdlist1">etid (optional) : <a href="Tensor_string.html">string</a> </dt>
<dd>
<p>Optional external transaction identifier for the caller to uniquely identify and track
          the transaction and corresponding results.   These identifiers will appear in the
          service logs for traceability analysis.  The format of the transaction identifier is up to the caller
          and can be anything: e.g. [uuid], [id1.subid0], [numerical], etc.  This data is never interpreted by
          the service.<br></p>
</dd>
</dl>
</div>
<div id="F3" class="dlist">
<dl>
<dt class="hdlist1">directive [zero or more] : <a href="Tensor_NameValue.html">NameValue</a> </dt>
<dd>
<p>A set of directives to influence processing.<br></p>
</dd>
</dl>
</div>
</div>
<div class="sect2">
<h3 id="_see_also">See Also</h3>
<div class="paragraph">
<div class="title">Structures</div>
<p><a href="Tensor_VoidType.html">VoidType</a>, <a href="Tensor_OutputBase.html">OutputBase</a>, <a href="Tensor_NameValue.html">NameValue</a></p>
</div>
<div class="paragraph">
<div class="title">Enumerations</div>
<p><a href="Tensor_WirelineFormat.html">WirelineFormat</a>, <a href="Tensor_ResultCode.html">ResultCode</a>, <a href="Tensor_ReservedEncodingFormats.html">ReservedEncodingFormats</a>, <a href="Tensor_InteractionRole.html">InteractionRole</a>, <a href="Tensor_ContentType.html">ContentType</a></p>
</div>
<div class="paragraph">
<div class="title">Other Types</div>
<p><a href="Tensor_uint32.html">uint32</a>, <a href="Tensor_xmf.html">xmf</a>, <a href="Tensor_raw.html">raw</a>, <a href="Tensor_string.html">string</a>, <a href="Tensor_uint16.html">uint16</a>
<a href="Tensor_uint24.html">uint24</a>, <a href="Tensor_UUID.html">UUID</a>, <a href="Tensor_int32.html">int32</a>, <a href="Tensor_int24.html">int24</a>, <a href="Tensor_int8.html">int8</a>
<a href="Tensor_uint64.html">uint64</a>, <a href="Tensor_int16.html">int16</a>, <a href="Tensor_EncodingFormat.html">EncodingFormat</a>, <a href="Tensor_mac48.html">mac48</a>, <a href="Tensor_float64.html">float64</a>
<a href="Tensor_void.html">void</a>, <a href="Tensor_int64.html">int64</a>, <a href="Tensor_uint8.html">uint8</a>, <a href="Tensor_uri.html">uri</a>, <a href="Tensor_json.html">json</a>
<a href="Tensor_bool.html">bool</a>, <a href="Tensor_float32.html">float32</a>, <a href="Tensor_byte.html">byte</a>, <a href="Tensor_datetime.html">datetime</a></p>
</div>
</div>
</div>
</div>