@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Arial';
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nopadding {
  padding: 0;
}

.title {
  padding: 0 ;
}

.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-height: calc(0.9429864253393665 * 100%);
}

.sidebar {
  height: 100%;
  max-width: 350px;
  background: #2980b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.map-container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sidebar h4,
.sidebar li {
  color: white;
}

#leafletMap {
  min-height: 300px;
  height: 100%;
}

span.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  background: white;
}

.tt-suggestion {
  padding: 5px 12px;
  border-bottom: 1px solid grey;
}

.tt-suggestion:last-of-type {
  border-bottom: none;
}

.error {
  display: none;
}

.empty-message {
  padding: 5px 12px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.form-group small {
  color: rgba(255, 255, 255, 0.7);
}

.leaflet-overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  background: url('spinner.gif') no-repeat center center;
  background-size: 50px;
  background-position: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.directions-container {
  clear: both;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: -15px;
}

.directions-container li {
  display: block;
  position: relative;
  margin: 10px 0;
}

.directions-list {
  clear: both;
}

.overview {
  font-size: 24px;
  display: none;
}

.overview small {
  font-size: 13px;
}

.total-time {
  font-size: 24px;
  color: greenyellow;
  margin-right: 5px;
}

.total-distance {
  font-size: 24px;
  font-weight: 300;
}

.distance {
  font-size: 12px;
  display: inline-block;
  width: 12%;
  color: rgba(255, 255, 255, 0.8);
}

.bar {
  display: inline-block;
  width: 88%;
  vertical-align: middle;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}